http://opensourceforu.efytimes.com/2014/03/analyse-data-pandas/

In [7]:
% matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests

df = pd.read_csv("http://www.synesthesiam.com/assets/weather_year.csv")
df.head()

,EDT,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2012-3-10,56,40,24,24,20,16,74,50,26,...,10,10,10,13,6,17,0.00,0,NaN,138
1,2012-3-11,67,49,30,43,31,24,78,53,28,...,10,10,10,22,7,32,T,1,Rain,163
2,2012-3-12,71,62,53,59,55,43,90,76,61,...,10,10,6,24,14,36,0.03,6,Rain,190
3,2012-3-13,76,63,50,57,53,47,93,66,38,...,10,10,4,16,5,24,0.00,0,NaN,242
4,2012-3-14,80,62,44,58,52,43,93,68,42,...,10,10,10,16,6,22,0.00,0,NaN,202

In [9]:
df[["EDT", "Max Humidity"]].head()

         EDT  Max Humidity
0  2012-3-10            74
1  2012-3-11            78
2  2012-3-12            90
3  2012-3-13            93
4  2012-3-14            93

In [11]:
df["Max Humidity"].mean()

90.027322404371589

In [10]:
df.mean()

Max TemperatureF               66.803279
Mean TemperatureF              55.683060
Min TemperatureF               44.101093
Max Dew PointF                 49.549180
MeanDew PointF                 44.057377
Min DewpointF                  37.980874
Max Humidity                   90.027322
 Mean Humidity                 67.860656
 Min Humidity                  45.193989
 Max Sea Level PressureIn      30.108907
 Mean Sea Level PressureIn     30.022705
 Min Sea Level PressureIn      29.936831
 Max VisibilityMiles            9.994536
 Mean VisibilityMiles           8.732240
 Min VisibilityMiles            5.797814
 Max Wind SpeedMPH             16.418033
 Mean Wind SpeedMPH             6.057377
 Max Gust SpeedMPH             22.764384
 CloudCover                     2.885246
 WindDirDegrees               189.704918
dtype: float64

In [13]:
df["Max Humidity"].apply(lambda x: x*2, inpl)

df.head()

,EDT,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2012-3-10,56,40,24,24,20,16,74,50,26,...,10,10,10,13,6,17,0.00,0,NaN,138
1,2012-3-11,67,49,30,43,31,24,78,53,28,...,10,10,10,22,7,32,T,1,Rain,163
2,2012-3-12,71,62,53,59,55,43,90,76,61,...,10,10,6,24,14,36,0.03,6,Rain,190
3,2012-3-13,76,63,50,57,53,47,93,66,38,...,10,10,4,16,5,24,0.00,0,NaN,242
4,2012-3-14,80,62,44,58,52,43,93,68,42,...,10,10,10,16,6,22,0.00,0,NaN,202