# Sorting rows of a Pandas Dataframe

### Imports

In [1]:
% matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randn(20,5), columns = list("ABCDE"))
df

           A         B         C         D         E
0   1.109868 -0.683468 -1.237342  0.408776 -0.592161
1  -0.602252  1.832750 -0.196105  2.972551 -2.611300
2   0.201418 -0.342395  2.176491 -0.014372  0.042898
3  -0.698649 -0.429607 -1.262126  0.484998  0.485262
4   0.184911 -0.056527 -1.410160 -0.561099 -1.177182
5   0.805775 -0.203331  0.756912  1.179761  0.207553
6  -0.438539 -1.780109 -0.575666 -0.025387 -0.644554
7  -1.161066 -1.007799  1.108831  0.130159  0.165972
8  -0.280744 -1.096206  1.102450  0.118616 -2.440066
9   0.295951  0.285801  0.105078  0.158951  0.045088
10  0.252921 -1.421396 -0.150383 -0.504024  0.900434
11  0.348911  1.642867  0.350958 -0.560780 -1.080792
12 -0.684573 -0.519554  0.465970  0.870714 -0.926747
13  0.349570  0.937953 -0.539956 -1.025410  0.099924
14  0.079384 -0.871829  0.187230 -0.308017  1.638182
15  0.187185 -0.691082 -0.009134  0.996037  0.776957
16  0.213789  0.615528 -0.836101 -2.612691 -0.246647
17 -2.033829 -0.952946 -0.202067 -1.926613  0.107087
18 -0.287358  0.650539  0.945329  1.118821  2.272887
19  0.666156  0.306227  0.507972  0.087703 -0.862882

### Sort one column

In [3]:
df.sort_values(by="A").head(10)

           A         B         C         D         E
17 -2.033829 -0.952946 -0.202067 -1.926613  0.107087
7  -1.161066 -1.007799  1.108831  0.130159  0.165972
3  -0.698649 -0.429607 -1.262126  0.484998  0.485262
12 -0.684573 -0.519554  0.465970  0.870714 -0.926747
1  -0.602252  1.832750 -0.196105  2.972551 -2.611300
6  -0.438539 -1.780109 -0.575666 -0.025387 -0.644554
18 -0.287358  0.650539  0.945329  1.118821  2.272887
8  -0.280744 -1.096206  1.102450  0.118616 -2.440066
14  0.079384 -0.871829  0.187230 -0.308017  1.638182
4   0.184911 -0.056527 -1.410160 -0.561099 -1.177182

### Ascending or Descending order

In [4]:
df.sort_values(by="A", ascending = False).head(10)

           A         B         C         D         E
0   1.109868 -0.683468 -1.237342  0.408776 -0.592161
5   0.805775 -0.203331  0.756912  1.179761  0.207553
19  0.666156  0.306227  0.507972  0.087703 -0.862882
13  0.349570  0.937953 -0.539956 -1.025410  0.099924
11  0.348911  1.642867  0.350958 -0.560780 -1.080792
9   0.295951  0.285801  0.105078  0.158951  0.045088
10  0.252921 -1.421396 -0.150383 -0.504024  0.900434
16  0.213789  0.615528 -0.836101 -2.612691 -0.246647
2   0.201418 -0.342395  2.176491 -0.014372  0.042898
15  0.187185 -0.691082 -0.009134  0.996037  0.776957

### Sort multiple columns

In [5]:
df["names"] = ["tom","alex","chris","jack"]*5 
df.head()

          A         B         C         D         E  names
0  1.109868 -0.683468 -1.237342  0.408776 -0.592161    tom
1 -0.602252  1.832750 -0.196105  2.972551 -2.611300   alex
2  0.201418 -0.342395  2.176491 -0.014372  0.042898  chris
3 -0.698649 -0.429607 -1.262126  0.484998  0.485262   jack
4  0.184911 -0.056527 -1.410160 -0.561099 -1.177182    tom

In [6]:
df.sort_values(["names","A"], ascending = [True, False]).head()

           A         B         C         D         E names
5   0.805775 -0.203331  0.756912  1.179761  0.207553  alex
13  0.349570  0.937953 -0.539956 -1.025410  0.099924  alex
9   0.295951  0.285801  0.105078  0.158951  0.045088  alex
1  -0.602252  1.832750 -0.196105  2.972551 -2.611300  alex
17 -2.033829 -0.952946 -0.202067 -1.926613  0.107087  alex